html{
	margin:0px;
	padding:0px;
}

body
{
	margin:0px;
	padding:0px;
	background-image:url('background.jpg');
}

/*friends and conversation boxes*/
.sidebarMetaLift{
	float:right;
	background-color:rgba(255,255,255,0.5);
	border-radius: 5px;
	margin-top: 25px;
	margin-left: 4px;
	margin-bottom:10px;
	margin-right:auto;
    padding:4px;
    min-width:120px;
    width: 21%;
    height : 80%;
}

/*around the output and input chat*/
.chatbox
{
	margin-top: 25px;
	margin-right:4px;
	margin:left:auto;
	margin:right:auto;
	float:left;
	background-color:rgba(255,255,255,0.5);
	border-radius: 5px;
    height: 80%;
    width: 500px;
    min-width: 300px;
    padding:4px;
}

.trendlist
{
	margin-top: 25px;
	margin-right:4px;
	margin:left:auto;
	margin:right:auto;
	float:left;
	background-color:rgba(255,255,255,0.5);
	border-radius: 5px;
    height: 80%;
    width: 500px;
    min-width: 300px;
    padding:4px;
}
.chatoutput
{
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	height:310px;
	width:auto;
	min-height:80px;
	background-color:rgba(255,255,255,1);
	margin-bottom:5px;
	padding-top:5px;
	overflow:scroll;
}

.chatinput
{
	border-radius: 5px;
	width:auto;
	height:45%;
	min-height:50px;
	background-color:rgba(255,255,255,1);
}


.chatinputfield
{
	margin-left:10px;
	margin-top:2%;
	margin-bottom:2%;
	width:80%;
	border:none;
	border-bottom-style:solid;
	border-width:1px;
	font-size:20px;
}

.friendslist
{
	margin-top:4px;
	border-radius: 5px;
	width : auto;
	height: 150px;
	background-color:white;
	overflow:scroll;
}
.friends
{
	margin-top:4px;
	border-radius: 5px;
	width : auto;
	height : 45%;
	background-color:white;
}

.convos
{
	margin-top:4px;
	border-radius: 5px;
	width : auto;
	height : 45%;
	background-color:white;
}

.convolist
{
	margin-top:4px;
	border-radius: 5px;
	width : auto;
	height: 150px;
	background-color:white;
	overflow:scroll;
}


.menu
{
	background-color:black;
	width : auto;
	height: 50px;
	margin:0px;
	padding:0px;
	color:white;
}

.title
{
	margin-top: 2px;
	padding-top: 3px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color:rgba(255,255,255,1);
	padding-left:4px;
	font-weight:bold;
	font-weight:20;
	
}
ul
{
    list-style-type: none;
    overflow:auto;
    padding:0px;
}

hr 
{
	/*margin-left:4px;*/
	width: 100%;
	color: black;
}

.centercontent
{
	margin:right:auto;
	margin:left:auto;

}


/*banner*/
.sidebar 
{
	padding:0;
	margin-top:0px;
	margin:0;
	color:#fff;
	font-family: arial, helvetica, sans-serif;
	white-space:nowrap;
	list-style-type:none;
	width:100%;
	background-color:#383B36;
}
.sidebar li 
{
	display:inline;
}
.sidebar li a
{
	padding:0.2em 1em;
	color:white;
	text-decoration:none;
	float:left;
	border:1px solid #000;
}
.sidebar li a:hover
{
	background:#08c;
	color:#fff;
}

#main 
{
	margin-left:0px;
}

/*the box around form(default)*/
.span-17
{
	width: 670px;
	padding-left: 350px;
}

/*login and sign up form*/
form{
	margin-top:0px;
	background-color:rgba(255,255,255,0.5);
	border-radius:5px;
	padding-top:4px;
	padding-bottom:4px;	
	width:100%;
}

/*table(login + signup)*/
table{
	display: table;
	margin-left:4px;
	background-color:rgba(255,255,255,1);
	margin-bottom:5px;
	overflow:scroll;
	border-color: gray;
	width:98%;
}

/*elements in a table*/
td{
	background-color:white;
}

/*friends list and conversations list
.sideList{
	margin-left: auto;
	margin-right: auto;
	width:98%;
    list-style-type: none;
    overflow:auto;
    padding:0px;
}*/
/*///////////////////////////////////////////////////*/
.createBox{
	margin-top: 25px;
	width: 500px;
	float: left;
	background-color:rgba(255,255,255,0.5);
	border-radius:5px;
	padding-top:4px;
	padding-bottom:4px;	
	//border:solid yellow;/* testing*/
}
.innerBox{
	margin-top:2px;
	background-color:rgba(255,255,255,1);
	border-radius: 5px;
	padding:4px;
	margin-right:4px;
	margin-left:4px;
	height:400px;
	
}
.leftSide{
	//border: orange solid 2px;
	float:left;
	width: 243px;
}
.search{
	//border: grey solid 2px;
	/*float:left;*/
	width:243px;

}
.addF{
	/*float:left;*/
	//border:solid red; /* testing*/
	width:243px;
	height:312px;
	//border-right: solid green 2px;
}
.converForm{
	margin-top:0px;
	background-color:rgba(255,255,255,0.5);
	border-radius:5px;
	padding-top:4px;
	padding-bottom:4px;	
	width:100%;
}

.info{
	float:right;
	//border:solid blue;/* testing*/
	width: 235px;
	height:370px;
}

/*the size of the option box in the left side of the conversation.html*/
.userOption
{
	width: 240px;
	height: 269px;
	margin-left: 3px;
}

/*the size of the option box in the info div side of the conversation.html*/
.addedPeople
{
	width: 230px;
	height: 269px;
	margin-left: 3px;
}

/*css for paragraph in conversational.html*/
p
{
	margin: 0px;
	padding-left: 3px;
}

/*css for hr in conversational.html*/
.margin3
{
	margin: 3px;
	//margin-right: 3px;
	width: 98%;
}

/*css for div class invited in conversational.html*/
.invited
{
	padding-left: 3px;
}

/*css for div class topic in conversational.html*/
.topic
{
	margin-bottom: 10px;
}

/*align the current page name to the right*/
.span-6 ul li span
{
	float:right;
	margin-top: 5px;
	margin-right: 5px;
}
/*////////////////////////////////////////////////////*/
.currentusers{
	margin-top:4px;
	border-radius: 5px;
	width : auto;
	height : 45%;
	background-color:white;

}
.signForm{
	
	float:right;
	
}
.signIn{
	margin-top: 100px;
	width:250px;
}
.signInForm{
	padding-top: 5px;
	padding-left: 5px;
	padding-right:6px;
	
}
.sign{
	width:240px;
}
.signPW{
	width:178px;
}

.signUpForm{
	padding-top: 5px;
	padding-left: 5px;
	padding-right:6px;
	
}
.signUp{
	width:250px;

}

.welcome{
	float:left;
	margin-top: 150px;
	color:white;
	width: 350px;
	font-size: 20px;
}

select{
	min-width:75px;
}